@use '../base/mixins' as *;
@use '../base/variables' as *;


@include tablet {
    .contenedor_anuncio {
    @include grid(3, 2rem);
    }
}

.anuncio {
    background-color: color.lighten($gris, 5);
    border: 1px solid color.darken($gris, 10);

    .contenido-anuncio {
        padding: 2rem;
    }
}
